{% macro print(issue_date_previous="", issue_date_next="") %}
---

<footer>
    <div class="card card--default">
    </div>
    <div class="card card--default">
    </div>
    <div class="card card--default">
    </div>
    <div class="card card--default">
        <h5><a href="/rss.xml">RSS Feed</a></h5>
    </div>
    <div class="card card--default">
    </div>
</footer>

{% endmacro print %}
