<ul class="rg-list {{#if modifier}}{{modifier}}{{/if}} {{#if color}}{{color}}{{/if}}">
  <li>Line 1</li>
  <li>Line 2</li>
  <li>Line 3</li>
  <li>Line 4</li>
  <li>Line 5</li>
  <li>Line 6
    <ul class="rg-list {{#if modifier}}{{modifier}}{{/if}} {{#if color}}{{color}}{{/if}}">
      <li>Line 1</li>
      <li>Line 2</li>
      <li>Line 3</li>
      <li>Line 4</li>
      <li>Line 5</li>
    </ul>
  </li>
  <li>Line 7</li>
</ul>
