<div class="rg-logo-grid">
  <div class="rg-logo-container">
    <img src="{{ path '/logo/outer/reactive-graph-outer-black.svg' }}" class="rg-logo-outer-black rg-logo-shape" alt="Reactive Graph">
    <img src="{{ path '/logo/inverse/reactive-graph-inverse-selective-yellow.svg' }}" class="rg-logo-inverse-selective-yellow rg-logo-shape" alt="Reactive Graph">
    <img src="{{ path '/logo/inner/reactive-graph-inner-mexican-pink.svg' }}" class="rg-logo-inner-mexican-pink rg-logo-shape" alt="Reactive Graph">
  </div>
</div>
